header, footer {
    background-color: rgba(var(--bs-dark-rgb));
}

.nav-color {
    color: rgba(255, 255, 255, 0.5);
}

    .nav-color:hover {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
    }

footer .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
}

footer .fa-facebook,
footer .fa-vk,
footer .fa-twitter {
    font-size: 20px;
}
